@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary-color: #111418;
$secondary-color: #ffff;
$tertiary-color: #1BAA80;

$roboto: 'Roboto', sans-serif;

.fadeIn{
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn{
  0% {opacity: 0;}
  100%{opacity: 1;}
}