@import '../global';

.projects{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  margin: auto;
  height: 100vh;
  background-color: $primary-color;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 20px 50px 20px;
  &__tittle{
    h2{
      color: $tertiary-color;
      font-family: $roboto;
      font-size: 40px;
      font-weight: 300;
    }
  }
}