@import '../global';

.skills {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin: auto;
  height: 100%;
  background-color: $primary-color;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 20px 50px 20px;
  &__title {
    h2 {
      color: $tertiary-color;
      font-family: $roboto;
      font-size: 40px;
      font-weight: 300;
    }
  }
  &__technologies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
