@import '../global';

.link{
  text-decoration: none;
  font-family: $roboto;
  font-weight: 100;
  color: $secondary-color;
  cursor: pointer;
  &:hover{
    transition: all 0.8s;
    color: $tertiary-color;
  }
}

.active{
  color: $tertiary-color;
}
.inactive{
  color: $secondary-color;
}