@import '../global';
.nav{
  height: 100vh;
  width: 300px;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  padding: 50px 20px 50px 20px;
  gap: 50px;
  align-items: center;
  position: fixed;
  &__photo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    &__image{
      width: 200px;
      height: 200px;
      border-radius: 100%;
    }
    &__name{
      font-family: $roboto;
      font-weight: 100;
      color: $secondary-color;
    }
  }

  &__links{
    margin-top: 50px;
    padding: 50px;
    transition: all 0.8s;
    &__list{
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  }

  &__socials{
    margin-top: 100px;
    display: flex;
    gap: 20px;
    &__logo{
      filter:brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(0%) hue-rotate(255deg) brightness(94%) contrast(89%);
      &:hover{
        filter:brightness(0) saturate(100%) invert(39%) sepia(3%) saturate(0%) hue-rotate(255deg) brightness(94%) contrast(89%);
      }
    }
  }

  &__responsive{
    width: 35px;
    height: 24px;
    display: none;
    filter:brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(0%) hue-rotate(255deg) brightness(94%) contrast(89%);
    &:hover{
      filter:brightness(0) saturate(100%) invert(39%) sepia(3%) saturate(0%) hue-rotate(255deg) brightness(94%) contrast(89%);
    }
  }
}

.show{
  display: block;
}
.hidde{
  display: none;
}
.fadeIn{
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn{
  0% {opacity: 0;}
  100%{opacity: 1;}
}
@media (min-width: 1024px) {
  .nav{
    &__links{
      display: block;
    }
  }
}

@media (max-width:1024px) {
  .nav{
    height: 80px;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    &__photo{
      gap: 0;
      &__image{
        display: none;
      }
    }
    &__links{
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      background-color: $primary-color;
      padding: 50px 0 50px 0;
    }
    &__socials{
      margin-top: 0;
    }
    &__responsive{
      display: block;
    }
  }
}